html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.social-media-icons {
    height: 20px;
    width: 22px;
}
header{
    background-color: rosybrown;   
}
footer{
    background-color: rosybrown;   
}