.poolside{
 margin-top: 2%;
 margin-left: 4%;
 margin-right: 4%;
 margin-bottom: 0%;
}
.booknow{
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.description{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}