html {
    scroll-behavior: smooth;
  }
#list-view{
  background-color: lightgrey;
  margin: 2%;
  width: 40%;
  height: auto;
  display:inline-flex;
  
}
#map-view{
  display:none;
}


.list-view1 {
  display: flex;
  align-items: flex-start;
  
}
.list-view1 .content1 {
  flex: 1;
  padding: 15px;
  
}
.list-view2 {
  display: flex;
  align-items: flex-start;
}
.list-view2 .content2 {
  flex: 1;
  padding: 15px;

}
.list-view3 {
  display: flex;
  align-items: flex-start;
}
.list-view3 .content3 {
  flex: 1;
  padding: 15px;
}