html {
  scroll-behavior: smooth;
  }
  #container{
  display:inline-flex;
  flex-direction: column;
  width:100%;
  }
  #list-view{
  background-color: lightgrey;
  margin: 2%;
  margin-left: 5%;
  width: 40%;
  height: auto;
  display:inline-flex;
  
  }
  #map-view{
   
    margin-left: 8%;
    
  }
  
  
  .list-view1 {
  display: flex;
  align-items: flex-start;
  
  }
  .list-view1 .content1 {
  flex: 1;
  padding: 15px;
  
  }
  .list-view2 {
  display: flex;
  align-items: flex-start;
  }
  .list-view2 .content2 {
  flex: 1;
  padding: 15px;
  
  }
  .list-view3 {
  display: flex;
  align-items: flex-start;
  }
  .list-view3 .content3 {
  flex: 1;
  padding: 15px;
  }
  
  #list-view:hover{
  background-color: rosybrown;
  }
  #pills-tab {
  
  justify-content: center;
  }
  